*,*::before
*::after{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    margin: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
.all{
    background-color: #f1f1f1;
}
#first-line{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    background-color: #1A1A1A;
    padding: 2px 5px;
}
.logo-2{
    display: none;
}
.profile-2{
    display: none;
}
#admin-profile{
border-radius: 6px;
background-color:#36fba1;
padding:6px 5px 6px 5px;
color: #616161;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}
#search{
   border-radius: 8px;
   color: #fff;
   padding-left: 25px;
   padding-bottom: 3px;
   padding-top: 3px;
   background-color:#303030;
   border-color:#616161;
   border-width:1px;
   border-style:solid;

}

#search ::placeholder{
    color:  #B5B5B5;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
#search-bar>div svg{
    margin-top: 2px;
}
#search:hover{
border-color: #f7f7f7;
}
#search:focus{
    border-width: 2px;
    border-color: #fff;
}
#notification{
    padding:2px;
    border-radius: 5px;
    background: none;
    border-style:none ;
    background-color:#303030; 
}
#notification:hover{
background-color:#616161;
}
#notification:focus{
   outline-style: solid;
   outline-width:2px ;
   outline-color: #005bd3;
   background-color: #656266;
   padding: 1px;
}
.full{
    background: none;
    border-style: none;
    border-radius: 5px;
    background-color: #303030;
    color: #E3E3E3;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;  
    width: 100%;
    padding:2px;
}
.full:hover{
background-color: #616161;
}
.full:focus{
    background-color: #656266;
    outline-style: solid;
   outline-width:2px ;
    outline-color: #005bd3;
}
#messages{
    visibility: hidden;
    display:flex;
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #fff;
    margin:-2px 5px;
}
.rowhead{
    display: flex;
    justify-content: space-between;
}
.medium-size{
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
color:#303030;
line-height: 140%;
}
.iconsZ{
    display: flex;
    gap: 16px;
}
.understand{
background-color:#f1f1f1 ;
padding: 16px;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 140%;
text-align: center;
}

#search-bar{
display: flex;
position: relative;
}
#search-bar > div{
    display:inline ;
    position: absolute;
    top:3px;
    left:7px;
}

.first-sec{
    display: flex;
    justify-content: start;
    flex-direction: column; 
    gap: 4px;
    padding: 0px 6px;
    align-self: stretch;
}
.active{
    padding: 6px 4px 6px 0px ;
    width: 100%;
    font-size: 13px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex; 
    justify-content: space-between;
    font-weight: 700;
    display: flex;
    align-items: center;
    color:#303030;
}
.active  #admin-profile{
    width: fit-content;
    display: inline;
    margin-left: 3px;
}
.part-1{
    display: flex;
    justify-content: start; 
    align-items: center;
    padding: 6px 0px;
    align-self: stretch;
    width: 100%;
    gap:8px;
    border-radius: 8px;
    background: none;
    border-style: none;
    border-width: 2px;
    color: #303030;
}
.part-1:hover{
    background-color: #f7f7f7;
}
.part-1:focus{
    border-style: solid;
    border-color: #005bd3; 
}
.second-sec{
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
align-self: stretch;
padding: 0px 6px;
border-style: none;
border-bottom-style: solid;
border-top-style: solid;
border-width: 0.75px;
border-color: #e1e1e1;
}
.second-sec button{
    padding: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: stretch;
    background: none;
    border-style: none;
    border-radius:8px;
    border-width: 2px;
    gap: 8px;
    color: #303030;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.second-sec button:hover{
background-color: #f7f7f7;
}
.second-sec button:focus{
    border-style: solid;
    border-color: #005bd3; 
}
#import{
    background-color:transparent;
    color:#323232;
    outline: none;
}
#import:hover{
    background-color: #e7e7e7;
}
#import:focus{
    outline-style:solid ;
   outline-color: #005BD3;
   background-color: #fff;
   border-style: solid;
   border-width: 2px; 
}
.acct-sect{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    padding: 0px 6px;
    border-style: none;
    align-self:stretch;
    color: #303030;
}
/*.mail{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px 0px;
}*/
.acct-sect  button{
     padding: 6px;
     align-items: center;
     gap:8px;
     align-self: stretch;
    display: flex;
    background: none;
    border-style: none;
    border-radius:8px;
    border-width: 2px;
    font-family: Inter;
     font-size: 13px;
    font-style: normal;
     font-weight: 400;
    line-height: 140%;
    color: #303030;
}
.mail{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.mailto{
    font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
color:#616161;
}
.mail div{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.acct-sect button:hover{
    background-color: #f7f7f7;
}
.acct-sect  button:focus{
    border-style: solid;
    border-color: #005bd3; 
}
#menu-bar{
    display: none;
    padding: 6px 0px;
    background-color: #fff;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    right:7px;
    top:45px;
    color:#322f33;
    width: 85%;

    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
    border-color: #dbdbdb;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.bold{
    font-weight: 700;
    color: #303030;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.alert{
  /*  
   
    color: #fff;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;*/

    margin-top: 20px;
    color: #E3E3E3;
    background-color: #1A1A1A;
    display: flex;
    padding: 12px 4px 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.select-plan{
    width: 100px;
    height: 30px;
    border-style: solid;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.10) ;
    color: #323232;
    gap: 8px;
    background-color: #fff;
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.select-plan:hover{
border-style: solid;
border-width: 1px;
border-color: #f7f7f7;
}
.select-plan:focus{
background-color: fff;
outline-style:solid ;
outline-width: 2px;
outline-color: #005bd3;
}
.ex{
    display: flex;
    padding: 5px;
    gap: 150px;
    font-weight: 600;
    font-size: 12px;
    justify-content: space-between;
}
.cancel-btn{
    background-color: transparent;
    border-style: none;
    position: relative;
    top: -30px;
}
.setup{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    color:#303030;
    font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%;
gap:160px;
}
.text{
  color: #303030;
    font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
#card{
    margin-top: 16px;
    border-style: none;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
 
}
.first-crd{
padding: 8px;
display: flex;
flex-direction: column;
gap:5px;
align-items: flex-start;
align-self: stretch;
justify-content: space-between;
}
.dropdown{
    background: none;
    border-style: none;
}
#completed{
    display: flex;
    gap:6px;
    font-size: 13px;
    line-spacing:140%;
    color: #303030;
    align-items: baseline;
     font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.second-section{
    display: none;
    padding: 16px 8px 8px 8px 8px;
}
.bar{
width: 60px;
border-radius: 10px;
height: 2px;
background-color: #E3E3E3;
}
.percentage{
width: 0%;
height: 2px;
background-color: #1A1A1A;
}

.crd{
    display: flex;
    gap:8px;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 12px;
    line-spacing: 130%;
}
.select-box {
    border: none;
    background: none;
    display: flex;
    justify-content: start;
}
.sub-note{
    color: #303030;
 font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
.txt{
    line-spacing:130%;
    gap: 2px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    border-radius: 10px;
    flex: 1 0 0;
}
#card{
    display: flex;
    flex-direction: column;
    gap:10px;
}
a{
    text-decoration: none;
    color: blue;
}
.subsection{
    display: none;
    font-size: 12px;
    width: 100%;
    line-spacing:140%;
}
.subsection-is-open {
    display: block;
}
/*.subsection>div{
    line-spacing:130%;
}*/
.subsection div button{
background-color: #404040;
color:#F6F3F6 ;
border-style: none;
border-style: solid;
border-width:1.5px;
border-color: rgba(255, 255, 255, 0.20);
outline: 1px;
outline-style: solid;
outline-color: #616161;
border-bottom-style:none ;
padding: 6px 12px;
border-radius: 6px;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 130%;
}
.subsection div button:hover{
   background-color: #2a2a2a;
}
.subsection div button:focus{
    outline-width:2px ;
    background-color: #404040;
   outline-color: #005bd3;
}
.writing{
display: flex;
flex-direction: column;
gap: 16px;
}
.gift{
    display: flex;
    gap:10px;
}
.one{
    display: none;
}
.basic{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.exo{
    font-weight: 400;
    font-size: 13px; 
}
.pics{
    display: none;
}

@keyframes spin {
    100% {
     transform: rotate(360deg);
    }
}
.loader{
    animation-name: spin;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scaleAnimation {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
    }
.loading{
    display: none;
    position: relative;
}
.loaded{
    display: none;
    position: relative;
    /* animation: scaleAnimation; */
}
.first-crd{
    padding-left: 20px;
}
.empty{
    background: none;
    border-style: none;
}
.empty >svg circle:hover{
    fill: #d9d9d9;
    stroke-dasharray: none;
}
.menu-up:hover{
background-color: #f7f7f7;
}
.menu-up:focus{
    outline-style:solid ;
    outline-color: #005bd3;
    outline-width: 2px;
    background-color: #fff;
}

@media screen and (min-width:769px) {

 #first-line{
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: 12px 16px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-1{
    display: none;
}
.logo-2{
    margin-left: 10px;
    display: contents;
}
#search{
    width: 350px;
}
.full{
    display: flex;
    color: #ebebeb;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:2px 2px 2px 8px;
    gap: 8px;
}
.one{
display: contents;
color: #E3E3E3;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}
#admin-profile{
    width: fit-content;
    padding: auto;
}
.basic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
#messages{
    right: 12px;
    padding: 15px 20px;
    font-size: larger;
}
#menu-bar{
    width: 25%;
    margin-right: 10px;
}
.alert{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 10px; 
    border-radius: 10px; 
}
.ex{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap:20px;
    padding: 0;
    font-weight: 400;
}
.cancel-btn{
  position: unset;
}
#card{
    border-radius: 10px;
    width:750px;
    padding: 8px;
}
.setup{
   width: 100%;
}
.modal{
    display: flex;
    justify-content: space-between;
    gap:100px;
}
.pics{
    display: contents;
}
.gucci{
    width: 100px;
}
.writing{
    line-spacing:140%;
}



}
@media screen and(min-width:1030px) {
    #search{
        width: 480px;
        height: 32px;
        padding: 8px;
    }  
}


