*,*::before
*::after{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    margin: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
#first-line{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    background-color: #1c181d;
    padding: 2px 5px;
}
.logo-2{
    display: none;
}
.profile-2{
    display: none;
}
#admin-profile{
border-radius: 3px;
background-color:#36fba1;
padding: 3px;
color: #616161;
font-size: 14px;
font-weight: 500;
}
#search{
    border-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: #616161;
    background-color: #322f33;
    border-radius: 5px;
    padding: 3px;
    padding-left: 25px;
   color: #fff;
}
#search:hover{
border-color: #f7f7f7;
}
#search:focus{
    border-width: 2px;
    border-color: #fff;
}
#notification{
    padding:2px;
    border-radius: 5px;
    background: none;
    border-style:none ;
    background-color:#322f33; 
}
#notification:hover{
background-color:#616161;
}
#notification:focus{
   outline-style: solid;
   outline-width:2px ;
   outline-color: #005bd3;
   padding: 1px;
}
.full{
    background: none;
    border-style: none;
    border-radius: 5px;
    background-color: #1c181d;
    width: 100%;
    padding:3px;
}
.full:hover{
background-color: #616161;
}
.full:focus{
    background-color: #616161;
    outline-style: solid;
   outline-width:2px ;
    outline-color: #005bd3;
}
.basic{
    gap: 5px;
}
#messages{
    visibility: hidden;
    display:flex;
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #fff;
    margin:-2px 5px;
}
.rowhead{
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    font-size: 13px;
}
.iconsZ{
    display: flex;
    gap:10px;
}
.understand{
    background-color:#f1f1f1 ;
    padding: 10px 10px ;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
#search-bar{
display: flex;
position: relative;
}
#search-bar > div{
    display:inline ;
    position: absolute;
    top:3px;
    left:7px;
}
.first-sec{
    display: flex;
    justify-content: start;
    flex-direction: column; 
    gap: 6px;
    padding: 6px 0px;
    width: 100%;
}
.active{
    padding: 6px 0px;
    width: 100%;
    font-size: 13px;
    background-color: #f7f7f7;
    border-radius: 5px;
    display: flex; 
    justify-content: space-between;
    font-weight: 700;
}
.active  #admin-profile{
    width: fit-content;
    display: inline;
    margin-left: 3px;
}
.part-1{
    display: flex;
    justify-content: start; 
    align-items: center;
    padding: 3px 0px;
    width: 100%;
    border-radius: 10px;
    background: none;
    border-style: none;
    border-width: 2px;
}
.part-1:hover{
    background-color: #f7f7f7;
}
.part-1:focus{
    border-style: solid;
    border-color: #005bd3; 
}
.second-sec{
display: flex;
flex-direction: column;
gap: 6px;
width: 100%;
font-size: 12px;
padding: 6px 0px;
border-style: none;
border-bottom-style: solid;
border-top-style: solid;
border-width: 1px;
border-color: #616161;
}
.second-sec button{
    padding: 5px;
    display: flex;
    justify-content: start;
    background: none;
    width: 100%;
    border-style: none;
    border-radius:10px;
    border-width: 2px;
}
.second-sec button:hover{
background-color: #f7f7f7;
}
.second-sec button:focus{
    border-style: solid;
    border-color: #005bd3; 
}
.acct-sect{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    width: 100%;
    padding: 6px 0px;
    border-style: none;
}
.mail{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px 0px;
}
.mail  button{
     padding: 5px;
    display: flex;
    justify-content: start;
    background: none;
    width: 100%;
    border-style: none;
    border-radius:10px;
    border-width: 2px;
}
.mail>button{
    flex-direction: column;
}
.mail button:hover{
    background-color: #f7f7f7;
}
.mail  button:focus{
    border-style: solid;
    border-color: #005bd3; 
}
#menu-bar{
    display: none;
    padding: 10px 0px 0px 0px;
    background-color: #fff;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    right:7px;
    top:45px;
    color:#322f33;
    width: 85%;
    border-radius: 5px;
}
.bold{
    font-weight: 700;
}
.alert{
    margin-top: 20px;
    background-color: #1c181d;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
}
.select-plan{
    width: 100px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 550;
    font-size: 12px;
    color: #322f33;
}
.select-plan:hover{
border-style: solid;
border-width: 1px;
border-color: #f7f7f7;
}
.select-plan:focus{
outline-style:solid ;
outline-width: 2px;
outline-color: #005bd3;
}
.ex{
    display: flex;
    padding: 5px;
    font-weight: 600;
    font-size: 12px;
    justify-content: space-between;
}
.cancel-btn{
    background-color: transparent;
    border-style: none;
    position: relative;
    top:-20px;
  
}
.setup{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}
.text{
    font-weight: 400;
    font-size: 13px;
    
}
#card{
    margin-top: 10px;
    border-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    width: 100%;
}
.first-crd{
padding: 10px;
display: flex;
flex-direction: column;
gap:5px;
}
.dropdown{
    background: none;
    border-style: none;
}
.second-section{
    display: none;
    padding: 10px 5px;
}
.bar{
width: 60px;
border-radius: 10px;
height: 2px;
background-color: #f1f1f1;
}
.percentage{
width: 0%;
height: 2px;
background-color: #322f33;
}
#completed{
    display: flex;
    gap:6px;
    font-size: 13px;
    line-spacing:140%;
    color: #322f33;
    align-items: baseline;
}
.crd{
    display: flex;
    gap:5px;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 12px;
    line-spacing: 130%;
}
.select-box {
    border: none;
    background: none;
    display: flex;
    justify-content: start;
}
.txt{
    line-spacing:130%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.sub-noteA{
    font-weight: 600;
    font-size: 13px;
    line-spacing:140%;
}
.sub-noteB{
    font-weight: 600;
    font-size: 13px;
    line-spacing:140%;
}
.sub-noteC{
    font-weight: 600;
    font-size: 13px;
    line-spacing:140%;
}
.sub-noteD{
    font-weight: 600;
    font-size: 13px;
    line-spacing:140%;
}
.sub-noteE{
    font-weight: 600;
    font-size: 13px;
    line-spacing:140%;
}

#card{
    display: flex;
    flex-direction: column;
    gap:10px;
}
a{
    text-decoration: none;
    color: blue;
}
.subsection{
    display: none;
    font-size: 12px;
    width: 100%;
    line-spacing:140%;
}
.subsection>div{
    line-spacing:130%;
}
/*.btm{
    border-style: none;
    border-color: #322f33;
    border-style:solid ;
    border-width: 2px;
    border-bottom-style: none;
    border-radius: 10px;
    background-color: #fff;
    width: fit-content;
    margin-top: 8px;
}*/
.subsection div button{
background-color: #1c181d;
margin-top: 8px;
border-style: none;
border-style: solid;
border-width:1px;
color: #f1f1f1;
outline: 1px;
outline-style: solid;
outline-color: #616161;
padding: 6px;
border-radius: 10px;
}
.subsection div button:hover{
    outline-color: #1c181d;
}
.subsection div button:focus{
    outline-width:2px ;
   outline-color: #005bd3;
   border-color: #ebebeb;
}
.gift{
    display: flex;
    gap:10px;
}
.one{
    display: none;
}
.basic{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.exo{
    font-weight: 400;
    font-size: 13px; 
}
.pics{
    display: none;
}

@keyframes spin {
    100% {
     transform: rotate(360deg);
    }
}
.loader{
    animation-name: spin;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scaleAnimation {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
    }
.loading{
    display: none;
    position: relative;
}
.loaded{
    display: none;
    position: relative;
    /* animation: scaleAnimation; */
}
.empty{
    background: none;
    border-style: none;
}
.empty >svg circle:hover{
    fill: #d9d9d9;
    stroke-dasharray: none;
}
.menu-up:hover{
background-color: #f7f7f7;
}
.menu-up:focus{
    outline-style:solid ;
    outline-color: #005bd3;
    outline-width: 2px;
    background-color: #fff;
}
.writing >div{
    color:#616161;
}
@media screen and (min-width:769px) {

 #first-line{
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 20px;
}
.logo-1{
    display: none;
}
.logo-2{
    margin-left: 10px;
    display: contents;
}
#search{
    width: 350px;
}
.full{
    display: flex;
    color: #ebebeb;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    gap: 2px;
    background-color: #1c181d;
}
#notification{
    background-color:#1c181d ;
}
.one{
    display: contents;
    color: #ebebeb;
    font-size: 14px;
    font-weight: 500;
}
#admin-profile{
    width: fit-content;
    padding: auto;

}
.basic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;

}
#messages{
    right: 12px;
    padding: 15px 20px;
    font-size: larger;
}
#menu-bar{
    width: 25%;
    margin-right: 10px;
}
.alert{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 10px;
    width: 100%;  
    border-radius: 10px; 
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items>div{
    width:100%;
}
.ex{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap:20px;
    padding: 0;
    font-weight: 400;
}
.cancel-btn{
  position: unset;
}
#card{
    border-radius: 10px;
}
.modal{
    display: flex;
    justify-content: space-between;
    gap:100px
    
}
.pics{
    display: contents;
}
.gucci{
    width: 100px;
}
.writing{
    line-spacing:140%;
}














}













}
